@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background-image: url(../Images/bgimg.jpg);
  background-size: cover;
}
.sec1{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.mbox{
    width: 100%;
    text-align: center;
}
.mbox h1{
  font-size: 3rem;
}
button {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #007D3E;
    color: #fff;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.7rem;
  }
  
  button:hover {
    color: #fff;
    background: #604800;
  }
p{
  font-size: 3rem;
}
